---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Briefcase from '../components/icons/Briefcasaes.astro';
import SocialPill from '../components/SocialPill.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcasaes from '../components/icons/Briefcasaes.astro';
---

<Layout title="Portfolio de German - Desarrollador y Programador Web"
	description='Desarrollador Web'
>
	<main>
		<SectionContainer class="py-44 pb-24">
			<img
			class="rounded-full size-12 mb-5"
			src="https://media.licdn.com/dms/image/D5635AQHYxRKIQ0846A/profile-framedphoto-shrink_200_200/0/1686857385409?e=1705554000&v=beta&t=yg2Hl6rGkZUjuSVphLUq5iEQeMLVp1kLH-aOar4cRHY" 
			alt="ger photo" 
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy German <a href="https://www.linkedin.com/in/german-leyva-luque-8a1493165/" class="flex justify-center items-center"><Badge>Dispopnible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">
				Desarrollador web y Soporte de sistemas. De Tijuana, B.C. México
			</h2>
			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/german-leyva-luque-8a1493165/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Gerll">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					<MailIcon class="size-6" />
					Gerll.bm@hotmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer>
			<h2 class="text-2xl font-semi-bold mb-6 flex gap-x-3 items-center">
				<Briefcasaes class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>