---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy German <a href="https://www.linkedin.com/in/german-leyva-luque-8a1493165/" class="flex justify-center items-center"><Badge>Dispopnible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">
				Desarrollador web y Soporte de sistemas. De Tijuana, B.C. México
			</h2>
		</section>
	</main>
</Layout>