---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
    {
        date: '2021 - 2023',
        title: 'Fontend Web Developer - DUDE Agency',
        description: 'Created interactive web applications using HTML, CSS, JavaScript and Wordpress that improved the user experience. WordPress sites optimized for performance, reducing page load times, Designed and developed website using WordPress that increased user engagement',
        link: '#',
    },

    {
        date: '2019 - 2020',
        title: 'Web Developer/Support and maintenance - Cross Innovation Labs',
        description: 'Created interactive web applications using php, postgres, ruby on rails, css, javascript, html, wordpress, git. Maintenance to computers, printers and networks.',
        link: '#',
    },

    {
        date: '2018 - 2019',
        title: 'Dr.WiFi - Izzi Telecom',
        description: 'Executive in charge of customer satisfaction thru phone calls. Applied Skill: Problem-Solution, Communication and Customer Experienc',
        link: '#',
    },

    {
        date: '2018',
        title: 'Practicing - Centro De Alto Rendimiento (CAR) ',
        description: 'Maintenance and technical support for local equipment and support for staff with computer problems',
        link: '#',
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }                  
</ol>